* {
  background-color: cadetblue;
}

.hide {
  display: none;
}

.large-font {
    font-size: 3.5em;
    text-align:center;
    padding: 20px;
    margin: 0 auto;
  }

#start-button {
    text-align: center;
    padding: 20px;
    
}

.container {
  max-width: 660px;
  border: 1px solid black;
  margin: 0 auto;
}

#game-over {
  font-size: 20px;
  text-align: center;
}